{
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-dynamic-import",
    [
      "babel-plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      },
    ],
  ],
  "presets": [
    "babel-preset-react",
    ["babel-preset-env", {
      "modules": false,
      "targets": {
        "ie9": true,
      },
      "uglify": true,
    }],
    "lingui-react"
  ]
}
